/*MAIN PAGE*/
#body_content	{width: 96%; max-width: 1720px;}

#navi .others-nav a,
.main-title		{background:#E4466688; color:#FFF; margin-bottom:0;}

#navi,
.main-title,
.main_content	{border-color:#E44666;}

#footer 		{background: radial-gradient(rgba(228,70,102,0.6),rgba(0,0,0,0) 55%);}


/*SCROLLER*/
#scroller {
	overflow: hidden;
	display: flex;
	flex-wrap: wrap;
}
a.section {
	margin:25px auto 0;
	border-bottom:1px dashed #E44666;
	display:flex;
	flex-wrap: wrap;
	width: 31%;
}

/* Clear floats of children */
.section:before,
.section:after {
	content: " ";
	display: table;
}
.section:after {
	clear: both;
}

/* Text styling */
.section span {
	font-size: 3vmin;
	font-weight: bold;
	color:#E44666;
}
.section p {
	font-size: 2vmin;
	text-align:left;
	color:#aaa;
	margin: 10px 0;
}
.section img {
	width:100%;
	height:auto;
	border-radius: 8px;
	overflow: hidden;
	-webkit-transition: all 0.4s;
	-moz-transition: all 0.4s;
	-o-transition: all 0.4s;
	transition: all 0.4s;
}
.section img:hover {
	transform: scale(1.2,1.2);
	
}
/* Sides */
.slide-box {
	box-sizing:border-box;
	width: auto;
	margin: 0;
	overflow: hidden;
	-webkit-transition: -webkit-transform 0.5s, opacity 0.5s;
	-moz-transition: -moz-transform 0.5s, opacity 0.5s;
	transition: transform 0.5s, opacity 0.5s;
}
.section figure {
	max-width: 270px;
	height: fit-content;
	margin-right: 20px;
	margin-bottom:20px;
	border-radius: 8px;
}
.section article {
	max-width: 230px;
}

/* Initial state (hidden or anything else) */
.cbp-so-init .slide-box {
	opacity: 0;
}

a.cbp-so-init article {
	-webkit-transform: translateX(80px); /*odd*/
	-moz-transform: translateX(80px);
	transform: translateX(80px);
}
a.cbp-so-init figure {
	-webkit-transform: translateX(-80px); /*odd*/
	-moz-transform: translateX(-80px);
	transform: translateX(-80px);
}

/* Animated state */
/* add you final states (transition) or your effects (animations) for each side */
a.cbp-so-animate .slide-box {
	-webkit-transform: translateX(0px);
	-moz-transform: translateX(0px);
	transform: translateX(0px);
	opacity: 1;
}

/* For example, add a delay for the right side:
.section.cbp-so-animate .slide-box-right {
	-webkit-transition-delay: 0.2s;
	-moz-transition-delay: 0.2s;
	transition-delay: 0.2s;
}
*/

/*--- FOR MOBILE ---*/
@media only screen and (max-device-width: 480px){
	
}