#photos-gallery {
	width: auto;
}

/*FILTER*/
#gallery-filter 					{display: flex; margin-bottom:15px;}
#gallery-filter .filter 			{color: #ccc; padding:0 10px; margin: 2px 5px;font-size: 21px; cursor:pointer;}
#gallery-filter .filter:after 		{content: ""; display: block; border-bottom: 1px solid #77bbff; transform: scaleX(0); transition: 250ms ease-in-out;}
#gallery-filter .filter:hover:after {text-shadow:0 0 3px #fff; transform: scaleX(1)}

#gallery-filter .filter-current 	{color: #FFF; background: #7bf8; border-radius: 20px; transition: all 1s;}


/*PHOTOS*/
#gallery-content 	{width: 100%;}

#gallery-content img {
	width: 16.2%;
	margin: 0.2%;
	border-radius: 8px;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}

#gallery-content img:hover {filter: brightness(65%)}


/*-------- FOR MOBILE ---------*/
@media only screen and (max-device-width: 480px){
	
	#gallery-filter .filter {font-size: 15px; padding: 0 4px;}
	
	#gallery-content img 	{width: 49%;}
}
